<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Noon van der Silk - $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <script type="text/javascript"
                src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        </head>
    <body>
        <div id="header">
            <div id="logo">
                <h1><a href="/">Noon van der Silk</a></h1>
            </div>
            <div id="navigation">
                <a href="/about.html">About</a>
                <a href="/archive.html">Archive</a>
                <a href="/links.html">Links</a>
                <small><a href="/atom.xml">Atom Feed</a></small>
            </div>
        </div>

        <div id="content">
            <h2>$title$</h2>

            $body$
        </div>
        <div id="footer">
            <small><a href="http://jaspervdj.be/hakyll">Hakyll</a> was involved here (<a href="https://github.com/silky/silky.github.com">source</a>).
                I have another <a href="https://sites.google.com/site/noonsilk">website</a>. ن
            </small> 
        </div>
        <div id="image_footer"> &nbsp; </div>
    </body>
</html>
