Here's a list of the talks/events that I've done over the years:

<ul class="talks">
$for(talks)$
<li>
  <small> <i>$date$,</i> </small>

		$if(link)$
			<a href="$link$">$title$</a>,
		$else$
			$title$,
		$endif$

  <small> $event$, </small>

  <small class="talks">
    $if(code)$ <a href="$code$">code</a> $endif$
    $if(video)$ <a href="$video$">video</a> $endif$
    $if(slides)$ <a href="$slides$">slides</a> $endif$
    $if(post)$ <a href="$post$">post</a> $endif$
    $if(website)$ <a href="$website$">website</a> $endif$
  </small>

	$if(summary)$ 
		<p> $summary$ </p>
	$endif$
</li>
$endfor$
</ul>
